In [2]:
import pandas as pd

In [3]:
bookings = pd.read_csv('2_bookings.csv', encoding = 'Windows-1251', sep = ';')
bookings_head = bookings.head(7)

In [4]:
bookings.shape

(119390, 21)

In [5]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [6]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [7]:
bookings = bookings.rename(columns = {'Hotel' : 'hotel', 'Is Canceled' : 'is_canceled', 'Lead Time' : 'lead_time', 'arrival full date' : 'arrival_full_date', 'Arrival Date Year' : 'arrival_date_year', 'Arrival Date Month' : 'arrival_date_month', 'Arrival Date Week Number' : 'arrival_date_week_number', 'Arrival Date Day of Month' : 'arrival_date_day_of_month', 
       'Stays in week nights' : 'stays_in_week_nights','Stays in Weekend nights' : 'stays_in_weekend_nights', 'stays total nights' : 'stays_total_nights', 'Adults' : 'adults', 'Children' : 'children',
       'Babies' : 'babies', 'Meal' : 'meal', 'Country' : 'country', 'Reserved Room Type' : 'reserved_room_type', 'Assigned room type' : 'assigned_room_type',
       'customer type' : 'customer_type', 'Reservation Status' : 'reservation_status', 'Reservation status_date' : 'reservation_status_date' })

In [8]:
print(bookings)

               hotel  is_canceled  lead_time arrival_full_date  \
0       Resort Hotel            0        342        2015-07-01
1       Resort Hotel            0        737        2015-07-01
2       Resort Hotel            0          7        2015-07-01
3       Resort Hotel            0         13        2015-07-01
4       Resort Hotel            0         14        2015-07-01
...              ...          ...        ...               ...
119385    City Hotel            0         23        2017-08-30
119386    City Hotel            0        102        2017-08-31
119387    City Hotel            0         34        2017-08-31
119388    City Hotel            0        109        2017-08-31
119389    City Hotel            0        205        2017-08-29

        arrival_date_year arrival_date_month  arrival_date_week_number  \
0                    2015               July                        27
1                    2015               July                        27
2                    2015               July                        27
3                    2015               July                        27
4                    2015               July                        27
...                   ...                ...                       ...
119385               2017             August                        35
119386               2017             August                        35
119387               2017             August                        35
119388               2017             August                        35
119389               2017             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  ...  adults  children  babies  meal country  \
0                          0  ...       2       0.0       0    BB     PRT
1                          0  ...       2       0.0       0    BB     PRT
2                          1  ...       1       0.0       0    BB     GBR
3                          1  ...       1       0.0       0    BB     GBR
4                          2  ...       2       0.0       0    BB     GBR
...                      ...  ...     ...       ...     ...   ...     ...
119385                     5  ...       2       0.0       0    BB     BEL
119386                     5  ...       3       0.0       0    BB     FRA
119387                     5  ...       2       0.0       0    BB     DEU
119388                     5  ...       2       0.0       0    BB     GBR
119389                     7  ...       2       0.0       0    HB     DEU

       reserved_room_type assigned_room_type customer_type reservation_status  \
0                       C                  C     Transient          Check-Out
1                       C                  C     Transient          Check-Out
2                       A                  C     Transient          Check-Out
3                       A                  A     Transient          Check-Out
4                       A                  A     Transient          Check-Out
...                   ...                ...           ...                ...
119385                  A                  A     Transient          Check-Out
119386                  E                  E     Transient          Check-Out
119387                  D                  D     Transient          Check-Out
119388                  A                  A     Transient          Check-Out
119389                  A                  A     Transient          Check-Out

       reservation_status_date
0                   2015-07-01
1                   2015-07-01
2                   2015-07-02
3                   2015-07-02
4                   2015-07-03
...                        ...
119385              2017-09-06
119386              2017-09-07
119387              2017-09-07
119388              2017-09-07
119389              2017-09-07

[119390 rows x 21 columns]

In [9]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [10]:
full = bookings.groupby('country').country.value_counts().sort_values(ascending = False).head(6)

In [11]:
otm = bookings.groupby('country').is_canceled.sum().sort_values(ascending = False)

In [12]:
full - otm

country  country
PRT      PRT        21071
GBR      GBR         9676
FRA      FRA         8481
ESP      ESP         6391
DEU      DEU         6069
ITA      ITA         2433
dtype: int64

In [13]:
bookings.groupby('hotel').stays_total_nights.mean().round(2).sort_values(ascending = False)

hotel
Resort Hotel    4.32
City Hotel      2.98
Name: stays_total_nights, dtype: float64

In [14]:
bookings.query("arrival_date_year == 2016").value_counts('arrival_date_month')

arrival_date_month
October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
dtype: int64

In [28]:
bookings.query("assigned_room_type != reserved_room_type")

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05,0.0
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05,0.0
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02,0.0
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119273,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01,0.0
119274,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01,0.0
119289,City Hotel,0,25,2017-08-30,2017,August,35,30,0,3,...,0.0,0,BB,ITA,E,F,Transient,Check-Out,2017-09-02,0.0
119297,City Hotel,0,332,2017-08-31,2017,August,35,31,0,2,...,0.0,0,BB,GBR,D,F,Transient,Check-Out,2017-09-02,0.0
119357,City Hotel,0,47,2017-08-31,2017,August,35,31,1,3,...,0.0,0,SC,PRT,A,D,Transient,Check-Out,2017-09-04,0.0

In [15]:
bookings.query("arrival_date_year == 2017").value_counts('arrival_date_month')

arrival_date_month
May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
dtype: int64

In [16]:
bookings.groupby(['arrival_date_year', 'arrival_date_month']).agg({'is_canceled' : 'sum'})

                                      is_canceled
arrival_date_year arrival_date_month
2015              August                     1598
                  December                    973
                  July                       1259
                  November                    486
                  October                    1732
                  September                  2094
2016              April                      2061
                  August                     1825
                  December                   1398
                  February                   1337
                  January                     557
                  July                       1499
                  June                       2096
                  March                      1477
                  May                        1915
                  November                   1636
                  October                    2514
                  September                  2022
2017              April                      2463
                  August                     1816
                  February                   1359
                  January                    1250
                  July                       1984
                  June                       2439
                  March                      1672
                  May                        2762

In [17]:
bookings.adults.mean()

1.8564033838679956

In [18]:
bookings.babies.mean()

0.007948739425412514

In [19]:
bookings.children.mean()

0.10388990333874994

In [21]:
bookings['total_kids'] = bookings.children + bookings.babies

In [24]:
bookings.groupby('hotel').agg({'total_kids' : 'mean'}, {'total_kids' : 'max'})

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

In [99]:
def has_kids(x):
    if x > 0:
        return True
    else:
        return False

In [100]:
bookings['has_kids'] = bookings.total_kids.apply(has_kids)

In [144]:
bookings['has_kids'].value_counts()

False    110054
True       9336
Name: has_kids, dtype: int64

In [145]:
bookings['has_kids'] = bookings.total_kids.astype(bool)

In [146]:
bookings['is_canceled'].value_counts()

0    75166
1    44224
Name: is_canceled, dtype: int64

In [147]:
bookings[['has_kids', 'is_canceled']].value_counts()

has_kids  is_canceled
False     0              69093
          1              40961
True      0               6073
          1               3263
dtype: int64

In [148]:
bookings['has_kids'].value_counts()

False    110054
True       9336
Name: has_kids, dtype: int64

In [149]:
bookings[['has_kids', 'is_canceled']].value_counts() / bookings['has_kids'].value_counts() * 100

ValueError: cannot join with no overlapping index names